extends layouts/_application

block content
  section
    aside
      img(src="//placehold.it/300x400")
    main
      .copy
        h1.copy__title THE <strong>COFFEE-O-MATIC</strong>
        p.copy__description Budget cuts means less coffee. See if you&rsquo;re one of the lucky workers today. Please limit to two pulls. (The Boss is watching.)
      .slots
        .slots__slot
        .slots__slot
        .slots__slot
        .slots__action
          button.btn(data-action="spin") SPIN