extends layouts/_application

block content
  section
    aside
      .graphic
        include ../assets/images/slot-machine.svg
        //- include ../assets/images/drip.svg
    main
      .copy
        h1.copy__title THE <strong>COFFEE-O-MATIC</strong>
        p.copy__description Who said budget cuts can&rsquo;t be fun? See if you&rsquo;re one of the lucky workers today. Please limit to two pulls.
      .slots
        .slots__slot
        .slots__slot
        .slots__slot
        .slots__action
          button.btn.btn--spin(data-action="spin") SPIN