extends layouts/_application

block content
  section
    aside
      .graphic
        include ../assets/images/slot-machine.svg
        //- include ../assets/images/drip.svg
    main
      .copy
        h1.copy__title THE <strong>COFFEE-O-MATIC</strong>
        p.copy__description With coffee prices soaring, management has come up with this elegant caffeine solution. Who said budget cuts can&rsquo;t be fun?
      .slots
        .slots__slot
        .slots__slot
        .slots__slot

      button.btn.btn--spin(data-action="spin") SPIN