extends layouts/_application

block content
  aside
    img(src="//placehold.it/300x400")
  main
    .copy
      h1.copy__title THE <strong>COFFEE-O-MATIC</strong>
      p.copy__description Budget cuts means less coffee. See if you&rsquo;re one of the lucky workers today. Please limit to two pulls. (The Boss is watching.)
    .slots
      .slots__container
        .slots__slot
          .slots__option Coffee <span>maker</span>
          .slots__option Tea <span>pot</span>
          .slots__option Espresso <span>machine</span>
        .slots__slot
          .slots__option Coffee <span>filter</span>
          .slots__option Tea <span>strainer</span>
          .slots__option Espresso <span>tamper</span>
        .slots__slot
          .slots__option Coffee <span>grounds</span>
          .slots__option Tea <span>leaves</span>
          .slots__option Espresso <span>beans</span>
      .slots__action
        button.btn SPIN