body {
  lost-utility: clearfix;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  > section {
    position: relative;
    lost-center: $row-width;
    padding: 0 $column-gutter;
    > aside {
      margin: 0 auto $column-gutter;
      width: 6rem;
    }
    > main {
      position: relative;
      z-index: 210;
    }
  }
}

@media screen and (min-width: $row-width) {
  body {
    > section {
      display: flex;
      align-items: center;
      > aside {
        lost-column: 1/3 2 2rem;
      }
      > main {
        lost-column: 2/3 2 2rem;
      }
    }
  }
}