@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

$column-gutter:          1rem;
@lost gutter $column-gutter;

$row-width:              42rem;

$body-font-family:       "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
$header-font-family:     "Six Caps", sans-serif;

$c-primary:              #CC2802;
$c-bg-color:             #eee;
$c-body-font:            #999;

$c-coffee:               #F26716;
$c-tea:                  #F2AF5C;
$c-espresso:             #590902;