@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

$column-gutter:          1rem;
@lost gutter $column-gutter;

$row-width:              60rem;

$body-font-family:       "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
$header-font-family:     "Six Caps", sans-serif;

$c-primary:              #F24C27;
$c-bg-color:             #fff;
$c-body-font:            #888;