$column-gutter:          32px;
@lost gutter $column-gutter;

$row-width: 1400px;

$body-font-family:       Cambria, Georgia, serif;
$header-font-family:     "Helvetica Neue", Helvetica, sans-serif;

$c-primary:              #F24C27;
$c-bg-color:             #fff;
$c-body-font:            #222;

* {
  box-sizing: border-box;
}