.slots {
  &__container {
    lost-utility: clearfix;
  }
  &__slot {
    lost-column: 1/3 3;
    border: 2px solid #ccc;
    border-radius: $column-gutter;
    max-height: 10rem;
    overflow: hidden;
  }
  &__option {
    padding: calc($column-gutter*2) 0;
    font-family: $header-font-family;
    font-size: 4.5rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    span {
      display: block;
      font-family: $body-font-family;
      font-size: 1rem;
      letter-spacing: .1rem;
    }
  }
}