doctype
html
  head
    title Coffee Slots
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" rel="stylesheet" href="assets/css/app.css")
    //- script(src="assets/js/vendor/modernizr.js")

  body
    block content
    script(src="assets/js/app.js")