doctype
html
  head
    title Coffee Slots
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" rel="stylesheet" href="assets/css/app.css")
    //- script(src="assets/js/vendor/modernizr.js")

  body
    block content
    script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js")
    script.
      window.TweenMax || document.write('<script src="assets/js/vendor/TweenMax.min.js">\x3C/script>')
    script(src="assets/js/app.js")